/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/InfoPro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #ffffff;

$mainColor: #000000;
$headingColor: #000000;

$mainFontSize: 42px;
$mainFont: InfoTextPro, Helvetica, sans-serif;
$headingFont: InfoTextPro, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 500;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

.slides {
    text-align: left!important;
}

.headslide {
    text-align: center!important;
    height: 935px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    height: 100%;
}

.header > img {
    margin: 0!important;
    padding: 0!important;
}

.headslide > .header > img {
    height: 200px;
    margin-bottom: 180px!important;
}

.headslide > .header > .bar {
    display: none;
}

.header {
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.bar {
    height: 3px;
    background-color: #0068b3;
}

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
